.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #ffffff;
}

#addButton {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#addButton:hover {
    background-color: #5a5a5a;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#minusButton {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#minusButton:hover {
    background-color: #5a5a5a;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#myImage {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

#countDisplay {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 20px;
}